= form_for @person, :url => { :action => "update_phone_save"}, :html => {:class => "nifty_form"} do |f|
	= f.label "New Phone Number (1234567)"
	= f.text_field :phone
	%br
	%br

	=f.submit "Update Phone", :class => "btn btn-success"

%br
%br
= link_to "Back", show_person_path, :class => "btn btn-primary"
